<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- Hibernate configuration file -->

<hibernate-configuration>

<session-factory>
	<property name="show_sql">false</property>
		<property name="hibernate.search.default.indexBase">/var/lucene/indexes </property>
	
	<!-- Using JDBC and MySQL, the default port is 3306, name of database is cs485_lab -->
	<property name="connection.url"> jdbc:mysql://localhost:3306/artdb</property>
	<!-- should be the username and password to MySQL server -->
	<property name="connection.username">root</property>
	<property name="connection.password">root</property>

	<!-- Using JDBS to connect to MySQL, JDBC driver needs to to included in the build path of eclipse -->
	<property name="connection.driver_class"> com.mysql.jdbc.Driver</property>
	<property name="dialect"> org.hibernate.dialect.SQLServerDialect</property>
	<property name="current_session_context_class">thread</property>

	<mapping resource = "Art_Object.hbm.xml"/>
	<mapping resource = "Artist.hbm.xml"/>
	<mapping resource = "Culture_info.hbm.xml"/>
	<mapping resource = "Department.hbm.xml"/>
	<mapping resource = "Exhibitions.hbm.xml"/>
	<mapping resource = "Room.hbm.xml"/>
	<mapping resource = "Specs.hbm.xml"/>

</session-factory>
</hibernate-configuration>
